body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,th,form,h1,h2,h3,h4,h5,h6,fieldset,figure,hr,img,input{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
html{
	font-size: 27.78vw;

}
body{
	font-family: "微软雅黑",Arial;
	// background: #f4f4f4;
	// display: -webkit-flex;
	// -webkit-align-items: center;
	// -webkit-flex-direction: column;
	// -webkit-justify-content: space-between;
}
ol,ul{
	list-style: none;
}
a {
	text-decoration: none;
	display: block;
}
img{
	border: none;
	display: block;
}

// footer
footer{
    width: 100%;
    height: 0.51rem;
    display: flex;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        flex-direction: column;
        font-size: 12px;
        color:#949494;
        i{
            color: #616161;
			font-weight: 900;
			&:hover{
				color:#05c3a9;
			}
        }
		&:hover{
			color:#05c3a9;
		}
    }
    .home{
        color:#05c3a9;
    }

}